body {
    background-color: PaleTurquoise;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px  ;
}


h1 {
    font-family: Serif;
    font-style: Italic;
    font-size: 2.5em;
    font-weight: bold;
    color: MidnightBlue;
    text-align: center;
}
h3 {
    font-family: Serif;
    font-style: normal;
    font-size: 2.5em;
    font-weight: bold;
    color: MidnightBlue;
    text-align: center;
}
h2 {
    font-family: Serif;
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
    color: MidnightBlue;
    text-align: left;
}

p {
    font-family: serif;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
    color: black;
    text-align: justify;
}

a {

}

ul {
    
}

li{
    
}

img {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
}
    
img 2{
}

