body {
    background-color: white;
}


h1 {
    font-family: Times;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    color: #000080;
    text-align: left;
}

h2 {
    font-family: Times;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    color: #000080;
    text-align: left;
}

p {
    font-family: serif;
    font-style: normal;
    font-size: 1.3em;
    font-weight: normal;
    color: #00008B;
    text-align: justify;
}

h3 {
    font-family: Times;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    color: #000080;
text-align: left;
}

h4 {
    font-family: Times;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    color: #000080;
    text-align: left;
}

h5 {
    font-family: Times;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    color: #000080;
    text-align: left;
}

ol {
    font-family: sans-serif;
    font-style: normal;
    font-size: 1em;
    font-weight: bold;
    color: #00008B;
    text-align: left;
}

  
  
div.page {
width: 1000px;
margin-left: auto;
margin-right: auto;
background-color: #E6E6FA;
margin-top: 10px;
margin-bottom: 10px;
border-width: 10px;
border-color: #E6E6FA;
border-style: dotted;
}

a{Les Tulipes sur Wikipédia
    font-family: serif;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
    color: #00008B;
    text-align: justify;
}

ul {
list-type: none;    
}

li{
color: #00008B;
}

img{ 
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border-radius: 50%;    
}

<style>
a:link {
  color: #00008B;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #00008B;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>

div.class {
  border-style: solid; }